<div class=”center”>
  <div class="row">



<div class="row">
  <% @my_listings.each do |my_listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= image_tag my_listing.image.url %>
          <div class="caption">
            <h3><%= my_listing.name %></h3>
            <p><%= number_to_currency(my_listing.price) %></p>
            <%= link_to 'Show', my_listing, class:"btn btn-link" %><br>
            <%= link_to 'Edit', edit_my_listing_path(my_listing), class:"btn btn-link" %><br>
            <%= link_to 'Destroy', my_listing, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link" %>
          </div>
      </div>
    </div>
   <% end %> 
</div>
  


<%= link_to 'New My listing', new_my_listing_path %>

</div>
</div>